# Local virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Sensitive Infrastructure files
keys/
*.pem
.terraform/
terraform.tfstate*
*.tfvars

# Development scripts
run_app.sh

# Logs
logs/

