certs/nginx.key
__pycache__/
*.pyc
.DS_Store
venv/
.idea/
logs/
certs/
keys/
*.pem

# Python
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# OS / IDE
.vscode/

# Project Specific
certs/*.crt
certs/*.key