[defaults]
inventory = ./inventory.ini
#Dont define remote_user yet, dynamic naming in setup.yml.
collections_path = ./collections

host_key_checking = False

bin_ansible_callbacks = True
stdout_callback = default

[privilege_escalation]
#Admin Rights (Sudo)
become = True
become_method = sudo
become_ask_pass = True